@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our Shop! &#128516;</h1>
    <p>Looking for a brand new smartphone? This is the best place to start!</p>
    <img src="https://media.baamboozle.com/uploads/images/25891/1622788946_33838_gif-url.gif" alt="My New Smartphone" style="width:380px;height:380px;">
</div>
