@model IEnumerable<SmartphoneShop.Models.ShopViewModels.OrderGroup>
    @{
    ViewData["Title"] = "Ordered Smartphones Statistics";
    }
    <h2>Ordered Smartphones Statistics</h2>
    <table>
        <tr>
            <th>
                Order Date
            </th>
            <th>
                Ordered Smartphones
            </th>
        </tr>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @item.SmartphoneCount
            </td>
        </tr>
        }
    </table>
